<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-items">
                <a href="#" class="nav-link active">Home</a>
            </li>
            <li class="nav-items">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-items">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="card mb-3">
                <div class="card-header">
                    <h4 class="card-title">My header Title</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Your text goes here</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Success</a>
                    <a href="#" class="btn btn-primary">primary</a>
                    <a href="#" class="btn btn-danger">danger</a>
                    <a href="#" class="btn btn-dark">dark</a>
                    <a href="#" class="btn btn-info">info</a>
                    <a href="#" class="btn btn-secondary">secondary</a>
                </div>
            </div>
            <!-- <app-home></app-home> -->
            <app-bike></app-bike>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="card-footer" style="position:fixed;bottom:0;width:100%">
        <p class="text-center"><small class="text-muted">&copy;Copy Right@ Suraj Sanjeev Pawar</small></p>
    </div>
</div>